@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
	min-height: 100vh;
	position: relative;
	margin: 0;
	padding-bottom: 100px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%;
}
p {
	padding: 0;
	margin: 0;
}

a {
	color: white;
}

.button {
	font-weight: bold;
}

.button:hover {
	background-color: white;
	color: #6c757d;
}

.header-link {
	color: black;
}

.header-link:hover {
	color: #346282;
}

.jumbo-img {
	background-size: cover;
	width: auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text {
	color: black;
}

.arrow-container {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.up-arrow {
	font-size: 3rem;
	color: #346282;
}
